/*- Custom style -*/

// -- Put custom style under this point -- //

::selection {
  background: #1A1A1A; /* WebKit/Blink Browsers */
  color: #FDFDFD;
}
::-moz-selection {
  background: #1A1A1A; /* Gecko Browsers */
  color: #FDFDFD;
}
